
{% block footer %}



<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      Social media:&nbsp;
      <a href="https://www.facebook.com/profile.php?id=100012263351299" class="fa fa-facebook" > </a>&nbsp;
      <a href="https://www.linkedin.com/in/jose-felipe-rib-dev/" class="fa fa-linkedin"></a>&nbsp;
      <a href="https://www.youtube.com/channel/UC-xabumpkgf2nqIewUc4IrQ" class="fa fa-youtube"></a>&nbsp;

    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    Developed by Jose Felipe<br> @2021

  </div>
  <!-- Copyright -->
</footer>
{% endblock %}